.today{
    padding:20px;
    margin:20px auto;
    max-width: 40%;
    border:1px solid black;
    border-radius: 7px;
}

.month{
    font-size: 17pt;
    margin:0 auto;
    padding:10px;
    max-width: 40%;
    text-align: center;
}

.date{
    width: 120px; 
    font-size: 13pt; 
    font-weight: bold;
}

.content{
    font-size: 13pt; 
    font-weight: bold; 
    word-break: break-all;
    color: #005bb7;
    cursor:pointer;
}

.second{
    font-size:10pt;
}