

.date{
    width: 120px; 
    font-size: 13pt; 
    font-weight: bold;
}

.content{
    font-size: 13pt; 
    font-weight: bold; 
    word-break: break-all;
    color: #005bb7;
    cursor:pointer;
}

.second{
    font-size:10pt;
}